<a href="https://colab.research.google.com/github/EricaGoyeneche/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INTRO PYTHON 3
###Variables 
Tipo dinámico
escuela = 'FES Aragon'

In [4]:
escuela = 'FES Aragon'
print(escuela)
print('-----------')
edad = 13
estatura = 1.67
fumador = True 
frase = """  
Esta es 
una 
frase 
de múltiples líneas
y también es 
un tipo de dato 
"""
print(frase)
nombre = 'Jose'
nombre_completo = "Jose Sosa Cárdenas"

FES Aragon
-----------

Esta es
una
frase
de múltiples líneas
y también es
un tipo de dato

#print 
con comas , 

con signo + 

con format()

con el operador f""

In [5]:
#separacion por comas , 
print (nombre,edad)

Jose 13

In [9]:
# + concatena solo STRING hay que convertir los de nunmero
print(nombre+str(edad))
print (nombre+nombre_completo)

Jose13
JoseJose Sosa Cárdenas

In [17]:
#Con formato -> Su nombre es Jose y su edad es de 13 años. 
print('Su nombre es',nombre,'y su edad es de',edad,'años')  #No es con formato y es muy largo pero está correcto 
print('Su nombre es {0} y su edad es de {1} años'.format(nombre,edad) )
print('Su nombre es {1} y su edad es de {0} años'.format(nombre,edad) )

Su nombre es Jose y su edad es de 13 años
Su nombre es Jose y su edad es de 13 años
Su nombre es 13 y su edad es de Jose años

In [18]:
#Con formato con el operador f"" 
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es Jose y su edad es de 13 años

##Carácter de escape 
\n salto de línea 

\t tabulador 

\a beep

\ cuando queremos que se imprima comillas

In [20]:
"""
Esto es 
un comentario 
de múltiples líneas 
tan tan 

"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 Jose

#Ayuda de tipos de datos de python

dir() ayuda con lo métodos de datos
 
help() este también pero con mas detalle


Tipos de datos 
str 
int 
float
bool
list 
dict 
set

In [ ]:
help(str)

In [34]:
print(nombre_completo.upper(), end="-------")
print(nombre_completo.capitalize())
print(nombre_completo.title())

JOSE SOSA CÁRDENAS-------Jose sosa cárdenas
Jose Sosa Cárdenas

In [ ]:
help(print)

##Clase String 

Es manejada como un arreglo(c o java) o lista (python)

`telefono = "Huawei mate 30 pro"` (Arreglo o lista de 18 donde meterá cada uno de los caracteres) 

print(telefono[])

#Slicing (rebanado)
[] selector 
[ini:stop:incremento] 

el stop no se incluye termina en el valor anterior 

el valor por defecto del stop es len(str)

In [44]:
telefono = "Huawei mate 30 pro"
print (telefono[5])
print(telefono[7:11:1])
print(telefono[:11:])

#incremento negativo 
print(telefono[-5::-1])
#slacing negativo 
print(telefono[-3::1])
ini = -3
inc =1
print(telefono[ini::inc])

i
mate
Huawei mate
03 etam iewauH
pro
pro

##Funciones de String (str)

Existen métodos muy utiles en esta clase

In [67]:
facultad = '    facultad de estudios superiores aragon      \n' 
print(facultad)
#.count nos cuenta caracteres en la cadena     '
print(facultad.count('u'))
#.find busca el índice del substring o sea en que posicion está  
print(facultad.find('s'))
# .strip remueve espacios en blanco al principio y al final y saltos de línea 
print(facultad.strip())
#Número de elementos con len
print(len(facultad))
#Corta con base a la letra que quieras 
print(facultad)
print(facultad.strip().split(" "))  #concatenando

print('-----------')#copiar cadenas 
otra_cadena = facultad 
print(otra_cadena)
otra_cadena = 'FES Aragon'
print(facultad)
print(otra_cadena)



#copiar listas 
colores = ['rojo','verde']
otra = colores 
print(colores)
print(otra)
#se modifican las dos 
otra.append('rosa')
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']