<a href="https://colab.research.google.com/github/EricaGoyeneche/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#String continuación 

numeros_txt = "1,2,3,4,5, 35,15,12"
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
 numeros_txt[j] = int(numeros_txt[j].strip())

print(numeros_txt)

#En python se utilizan tabuladores para las estructura de código 
#En python tu indicas donde empieza el iterador 

#funcion range que genera un iteraodr
#range(inicio, stop, icremento)
print(range(0,10,2))
rango = range (1, 10, 2)
for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

1,2,3,4,5, 35,15,12
['1', '2', '3', '4', '5', ' 35', '15', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10, 2)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
- Mutables

- Se declaran con [  ]

- Selector [ int ]

- Puede ser de cualquier tipo y mezclado (str, int, etc)

#Tuplas

- NO mutables 

- Se declaran con (  )

- Selector [  int  ]


#diccionarios


- Son conjuntos de pares  llaves:valor 

- Son mutables 

- Equivalentes a los objetos JSON de JS 

#conjuntos

- Representación de la teoría de conjuntos

In [ ]:
#Listas  Equivalentes a los arreglos en otros lenguajes de programación 
frutas = ['Pera', 'manzana', 'fresa', 'kiwi','naranja'] #Así se declara
print(frutas)
cosas = ['cuaderno', 2, 3.1416, True, False]
print(cosas)
frutas[2] = 'Fresa'     #Le reasignamos otro valor al 2 también puede ser con capitalize para mayusculas 
print(frutas)

#agregar a lista 
frutas.append('Aguacate')  #Append agrega al final 
print(frutas)
frutas.insert(2,"Sandía")  #Agrega pero con una posición en específico 
print(frutas)

#concatenar
fecha = ['06','10','2020'] #formato fecha 06/10/2020 
print(fecha)
fecha_str ="/".join(fecha)  #concatena y da formato 
print(fecha_str)

['Pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False]
['Pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['Pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['Pera', 'manzana', 'Sandía', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False]

In [ ]:

#Eliminar elementos pop y remove
cosas = ['cuaderno', 2, 3.1416, True, False]
print(cosas)
cosas.append("Libro")
cosas.append("Lápiz")
print(cosas)
algo = cosas.pop()
print(cosas)

algo = cosas.pop(2)  #Quitamos de una posición en específico 
print(cosas)
print(algo)

cosas.remove(2)
print(cosas)

#Vaciar una lista 
cosas.clear()
print(cosas)

#Ordenar las listas
print(frutas)
frutas.sort()  #Ordenó alfabeticamente o datos congruentes 
print(frutas)
cosas.sort()
print(cosas)

['cuaderno', 2, 3.1416, True, False]
['cuaderno', 2, 3.1416, True, False, 'Libro', 'Lápiz']
['cuaderno', 2, 3.1416, True, False, 'Libro']
['cuaderno', 2, True, False, 'Libro']
3.1416
['cuaderno', True, False, 'Libro']
[]
['Aguacate', 'Fresa', 'Pera', 'Sandía', 'kiwi', 'manzana', 'naranja']
['Aguacate', 'Fresa', 'Pera', 'Sandía', 'kiwi', 'manzana', 'naranja']
[]

In [54]:
#slicing te regresa la rebanada seleccionada pero no modifica el pastel 
cosas = ['cuaderno', 2, 3.1416, True, False]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros)
print(numeros[7:12:1]) #El tope es uno después para que se imprima uno antes porque el conteo inicia desde el cero  

#Sustituir rebanadas -2,-2  -> 1,2,3,4,5,6,7,-2,-2,13,14,15
numeros[8:13] = [-2,-2]
print(numeros)

#Preguntar por existencia 
print(-2 in numeros)  #Hay un -2 en numeros?
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False]
de
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True
False

#Listas multidimensión

Listas dentro de listas

In [75]:
computadoras = ['HP','Mac Book Pro 17"','Mate book','Lenovo legion']
oss = ['Windows 10', 'Linux', 'Android', 'iOs']

#lista de dos dimensiones 
computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print("Linux" in computo[1])
dbms = [['MSQL','Open Source', False] ,['MS SQL Server','De paga', True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17"', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOs']
Mate
ovoneL
True
[['HP', 'Mac Book Pro 17"', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOs'], [['MSQL', 'Open Source', False], ['MS SQL Server', 'De paga', True]]]
MSQL
De paga